
Body {
    Background: grey;
    font-size: '18px'
}

.Content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Header {
background: white;
color: grey;
font-family: 'Times New Roman', Times, serif;
width: 960px;
text-align: center;
height: 80px;
}

.nav {
    background: white;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    width: 960px;
    text-align: center;
    margin-top: 20px;
    height: 80px;
    
}